<head>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script type="module" src="./index.js"></script>
</head>


<h1>Biuro turystyczne Chmurka</h1>
<div id="container">
    <div id="contact">
        <div>
            <p class="title">Adres do korespondencji:</p>
            <p>al. Mickiewicza 30</p>
            <p>30-059 Kraków</p>
        </div>
        
        <!-- <div class="line"></div> -->

        <div>
            <p class="title">Adres siedziby biura:</p>
            <p>Budynek D17</p>
            <p>ul. Kawiory</p>
            <p>30-055 Kraków</p>
        </div>
        
        <!-- <div class="line"></div> -->

        <div>
            <div class="phone">
                <p class="title">Telefon: </p>
                <p>(12) 328-34-00</p>
            </div>
            <div class="phone">
                <p class="title">Fax: </p>
                <p>(12) 617-51-72</p>
            </div>
            <div class="phone">
                <p class="title">e-mail: </p>
                <p>chmurka@gmail.com</p>
            </div>
        </div>
        
    </div>
    <div id="map">
        <!-- <google-map></google-map> -->
        <img src="../../assets/map.PNG">
    </div>
</div>
